# ===== Application =====
PORT=4001
NODE_ENV=development

# ===== Redis Cache =====
REDIS_URL=redis://localhost:6379
REDIS_PASSWORD=
REDIS_TIMEOUT=5000
REDIS_RETRIES=3

# Database (MongoDB) local
MONGO_URI=mongodb://localhost:27017
# ATLAS
MONGO_URI=mongodb+srv://YOUR_USERNAME:YOUR_PASSWORD@cluster0.qanojin.mongodb.net/?retryWrites=true&w=majority
MONGO_DB_NAME=mail_logs
# ----- MongoDB Auth (production docker-compose only) -----
MONGO_ROOT_USER=admin
MONGO_ROOT_PASSWORD=your_strong_mongo_password_here

# ----- Cookie -----
COOKIE_SECRET=your_cookie_secret_here
COOKIE_SAMESITE=lax
COOKIE_EXPIRATION=86400000

# ===== CORS Configuration =====
CORS_ORIGINS=http://localhost:3000,http://localhost:8081

API_KEYS=app_key_your_core_nestjs_app,app_key_another_app